<li [ngClass]="{'list-group-item':true,
                'list-group-item-success': this.loveIts > this.DislikeIts,
                'list-group-item-danger': this.loveIts < this.DislikeIts }">
  <div class="row">
    <h4 class="col-md-2">{{ postTitle }}</h4>
    <div class="col-md-8"></div>
    <p class="col-md-2">{{postCreate_at |date: 'short'}}</p>
  </div>
  <p>{{ postContent }}</p>
  <div class="row">
    <button class="btn btn-success col-md-2" (click)="onLike()">Love It!</button>
    <div class="col-md-1"></div>

    <button class="btn btn-danger col-md-2" (click)="onDislike()">Don't Love It!</button>
  </div>
  <div class="row">
    <p class="col-md-2">
      {{loveIts}}
    </p>
    <div class="col-md-1"></div>
    <p class="col-md-2">
      {{DislikeIts}}
    </p>
  </div>
</li>