<li [ngClass]="{'list-group-item': true,
              'list-group-item-success': postLovIts > postDislikeIts,
              'list-group-item-danger': postLovIts < postDislikeIts'}">
  <div class="row">                
    <h4 class="col-md-2">{{ postTitle }}</h4>
    <div class="col-md-6"></div>
    <div class="col-md-4">{{ postCreate_at }}</div>
  </div>
  <div class="container">{{ postContent }}</div>
  <div class="row">
      <button class="btn btn-success" [(ngModel)]="postLovIts">Love it!</button>
      <button class="btn btn-danger" [(ngModel)]="postDislikeIts">Don't Love it!</button>

    </div>
</li>

